<div class="container">
  <h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>

  <h2><%= pluralize @restaurant.reviews.size, "review" %></h2>

  <div>
    <% if @restaurant.reviews.blank? %>
      Be the first to leave a review for <%= @restaurant.name %>
    <% else %>
      <% @restaurant.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Back to all restaurants", restaurants_path %>
</div>
